In [1]:
import pandas as pd

In [2]:
relatorio2023 = pd.read_csv('Relatorio2023.csv')

In [3]:
grouped_sums = relatorio2023.groupby('tipo')[['Quantidade de sessões', 'Quantidade Visitas']].sum().reset_index()

In [4]:
grouped_sums['Mês'] = 'Todos os meses'

In [6]:
relatorio2023

,Nome da Escola,Série Escolar,Ensino,tipo,Mês,Quantidade de sessões,Quantidade Visitas
0,ACM de Brasília,Maternal ao Fundamental I,Maternal,Privada,2023-11-01,0,34
1,APAE-DF,ED ESPECIAL,Outros,Privada,2023-08-01,1,54
2,Assistência Social Casa Azul,5° ao 1° ano Ensino Médio,Fundamental 2,Pública,2023-05-01,1,71
3,Associação de Idosos,Idosos,Outros,Pública,2023-12-01,0,20
4,Associação Francisco de Assis,Infantil ao Ensino Médio,Fundamental 1,Pública,2023-04-01,0,28
...,...,...,...,...,...,...,...
289,UNB - Grupo Pedagógico,Ensino Superior,Outros,Pública,2023-12-01,0,7
290,UNB (Alunos curso de pedagogia),Ensino Superior,Outros,Pública,2023-06-01,1,41
291,Universidade Estadual do Goiás,Faculdade,Outros,Pública,2023-01-01,0,22
292,Vila das Crianças - Santa Maria,9° ao 1° ano /Médio,Fundamental 2,Privada,2023-07-01,1,38
293,Wizard Braslândia,Pré ao 7° ano,Fundamental 1,Privada,2023-06-01,1,44

In [7]:
for _, row in grouped_sums.iterrows():
    relatorio2023 = pd.concat([relatorio2023, pd.DataFrame([row])], ignore_index=True)

In [10]:
for i, row in relatorio2023.iterrows():
    try:
        # Tenta converter a data apenas se não for "Todos os meses"
        if row['Mês'] != "Todos os meses":
            relatorio2023.at[i, 'Mês_Convertido'] = pd.to_datetime(row['Mês'])
    except ValueError:
        # Se houver um ValueError, podemos decidir o que fazer
        # Por exemplo, podemos deixar o valor como NaT ou definir uma data padrão
        continue  # Neste exemplo, simplesmente continuamos sem alterar o valor

In [11]:
relatorio2023

,Nome da Escola,Série Escolar,Ensino,tipo,Mês,Quantidade de sessões,Quantidade Visitas,Mês_Convertido
0,ACM de Brasília,Maternal ao Fundamental I,Maternal,Privada,2023-11-01,0,34,2023-11-01
1,APAE-DF,ED ESPECIAL,Outros,Privada,2023-08-01,1,54,2023-08-01
2,Assistência Social Casa Azul,5° ao 1° ano Ensino Médio,Fundamental 2,Pública,2023-05-01,1,71,2023-05-01
3,Associação de Idosos,Idosos,Outros,Pública,2023-12-01,0,20,2023-12-01
4,Associação Francisco de Assis,Infantil ao Ensino Médio,Fundamental 1,Pública,2023-04-01,0,28,2023-04-01
...,...,...,...,...,...,...,...,...
291,Universidade Estadual do Goiás,Faculdade,Outros,Pública,2023-01-01,0,22,2023-01-01
292,Vila das Crianças - Santa Maria,9° ao 1° ano /Médio,Fundamental 2,Privada,2023-07-01,1,38,2023-07-01
293,Wizard Braslândia,Pré ao 7° ano,Fundamental 1,Privada,2023-06-01,1,44,2023-06-01
294,NaN,NaN,NaN,Privada,Todos os meses,106,7494,NaT
295,NaN,NaN,NaN,Pública,Todos os meses,177,14130,NaT

In [12]:
save = relatorio2023.to_csv('Relatorio2024.csv', index=False)

In [ ]:
mes = pd.read_csv('mes.csv')