In [99]:
import pandas as pd

In [104]:
# Substitua 'caminho_para_o_arquivo.xlsm' pelo caminho do seu arquivo .xlsm
caminho_do_arquivo = 'SectiDF.xlsx'

# Carrega a planilha em um DataFrame
df = pd.read_excel(caminho_do_arquivo, sheet_name='OUTROS ESTADOS', engine='openpyxl')

# Mostra as primeiras linhas do DataFrame
print(df.head())

                  Dados retornados para SectiDF 2.         Unnamed: 1  \
0                                              NaN                NaN
1  Outros Estados (Escolas por RA)[Outros Estados]  [SumQnt__Escolas]
2                                            BAHIA                  2
3                                            GOIAS                 66
4                                            MINAS                  9

          Unnamed: 2            Unnamed: 3
0                NaN                   NaN
1  [SumQnt__Visitas]  [SumTotal_de_alunos]
2                  2                   110
3                 79                  3879
4                 10                   415

In [105]:
df.columns = df.iloc[1]

,Dados retornados para SectiDF 2.,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,NaN,NaN,NaN
1,Outros Estados (Escolas por RA)[Outros Estados],[SumQnt__Escolas],[SumQnt__Visitas],[SumTotal_de_alunos]
2,BAHIA,2,2,110
3,GOIAS,66,79,3879
4,MINAS,9,10,415
5,SANTA CATARINA,1,1,31
6,SÃO PAULO,1,1,28

In [94]:
df

1  2023-02-01 00:00:00   3   2   992   43    0   376   2309   2685     0
0           2023-01-01   1   3  2917   87    0   149   6472   6621     0
1           2023-02-01   3   2   992   43    0   376   2309   2685     0
2           2023-03-01  17  15   989   70    0  2213   2486   4699     0
3           2023-04-01  20   8  1796   60    0  2132   4399   6531     0
4           2023-05-01  16  11  1344   48    0  1607   3411   5018     0
5           2023-06-01  17  20  1870   73  109  3077   5938   9015  3113
6           2023-07-01   1   5  5178  117  137   232  14094  14326  8829
7           2023-08-01  28  10  2395  109  111  2905   6452   9357  3156
8           2023-09-01  24  12  2468   56  117  3080   6826   9906  3564
9           2023-10-01  30  17  2383   87  116  2697   6958   9655  3794
10          2023-11-01  33  12  2329   62   93  2288   5883   8171  2577
11          2023-12-01  17   4  2439   65    0   817   5043   5860     0

In [102]:
df = df[2
:]

In [103]:
df

  Dados retornados para SectiDF 2. Unnamed: 1 Unnamed: 2 Unnamed: 3
2                            BAHIA          2          2        110
3                            GOIAS         66         79       3879
4                            MINAS          9         10        415
5                   SANTA CATARINA          1          1         31
6                        SÃO PAULO          1          1         28

In [67]:
df.reset_index(drop=True, inplace=True)

In [68]:
df.dtypes

1
Relatório de visitas escolares por Região Administrativa (Escolas por RA)[DF]             object
Relatório de visitas escolares por Região Administrativa (Escolas por RA)[Localização]    object
[SumQnt__Escolas]                                                                         object
[SumQnt__Visitas]                                                                         object
[SumTotal_de_alunos]                                                                      object
dtype: object

In [69]:
def limpar_nome_coluna(nome_coluna):
    # Divide o nome da coluna pela abertura de colchete '[' e pega a parte depois disso
    if '[' in nome_coluna:
        nome_limpo = nome_coluna.split('[')[-1]
        # Remove o colchete de fechamento ']' se ele estiver presente
        nome_limpo = nome_limpo.replace(']', '')
        return nome_limpo
    else:
        return nome_coluna

In [70]:
df.columns = [limpar_nome_coluna(col) for col in df.columns]

In [71]:
def limpar_nome_coluna(nome_coluna):
    # Remove o padrão 'Relatorio 2023['
    if 'Relatorio 2023[' in nome_coluna:
        nome_coluna = nome_coluna.replace('Relatorio 2023[', '')
    
    # Remove os colchetes de fechamento ']' se estiverem presentes
    nome_coluna = nome_coluna.replace(']', '')
    
    # Remove o prefixo 'Sum' se estiver presente
    if nome_coluna.startswith('Sum'):
        nome_coluna = nome_coluna[3:]
    
    # Substitui os sublinhados por espaços (ou você pode deixar vazio para remover completamente)
    nome_coluna = nome_coluna.replace('_', ' ')
    
    return nome_coluna.strip()

In [72]:
df.columns = [limpar_nome_coluna(col) for col in df.columns]

In [78]:
df.

DF                 object
Localização        object
Qnt  Escolas       object
Qnt  Visitas       object
Total de alunos    object
dtype: object

In [82]:

df['Total de alunos'] = pd.to_numeric(df['Total de alunos'], errors='coerce').astype('Int64')

In [85]:
df

,DF,Localização,Qnt Escolas,Qnt Visitas,Total de alunos
0,RA I,PLANO PILOTO,52,68,3136
1,RA II,GAMA,5,7,338
2,RA III,TAGUATINGA,21,31,1565
3,RA IV,BRAZLANDIA,5,8,440
4,RA IX,CEILÂNDIA,19,28,3295
5,RA V,SOBRADINHO,15,28,1864
6,RA VI,PLANALTINA,7,9,534
7,RA VII,PARANOÁ,10,20,1374
8,RA VIII,BANDEIRANTE,3,3,116
9,RA X,GUARÁ,10,22,1431
10,RA XI,CRUZEIRO,0,0,0
11,RA XII,SAMAMBAIA,7,11,644
12,RA XIII,SANTA MARIA,8,12,676
13,RA XIV,SÃO SEBASTIÃO,8,3,184
14,RA XIX,CANDANGOLÂNDIA,0,0,0
15,RA XV,RECANTO DAS EMAS,5,9,478
16,RA XVI,LAGO SUL,3,5,292
17,RA XVII,RIACHO FUNDO 1,3,4,215
18,RA XVIII,LAGO NORTE,2,2,80
19,RA XX,ÁGUAS CLARAS,3,5,250
20,RA XXI,RIACHO FUNDO 2,0,0,0
21,RA XXII,SUDOESTE,5,7,378
22,RA XXIII,VARJÃO,2,2,25
23,RA XXIV,PARK WAY,3,3,142
24,RA XXIX,SETOR DE INDUSTRIAS,1,1,56
25,RA XXV,ESTRUTURAL,5,11,693
26,RA XXVI,SOBRADINHO II,0,0,0
27,RA XXVII,JARDIM BOTÂNICO,2,2,90
28,RA XXVIII,ITAPOÃ,2,4,190
29,RA XXX,VICENTE PIRES,0,0,0
30,RA XXXI,FERCAL,0,0,0
31,RA XXXII,SOL NASCENTE,0,0,0
32,RA XXXIII,ARNIQUEIRAS,0,0,0
33,RA XXXIV,ARAPONGA,1,2,101
34,RA XXXV,ÁGUA QUENTE,0,0,0

In [47]:
df['Quantidade de sessões'] = pd.to_numeric(df['Quantidade de sessões'], errors='coerce').astype('Int64')

In [49]:
df['Quantidade Visitas'] = pd.to_numeric(df['Quantidade Visitas'], errors='coerce').astype('Int64')

In [51]:
df.dtypes

Nome da Escola                   object
Série Escolar                    object
Ensino                           object
tipo                             object
Mês                      datetime64[ns]
Quantidade de sessões             Int64
Quantidade Visitas                Int64
Nome da Escola2                  object
dtype: object

In [52]:
df

,Nome da Escola,Série Escolar,Ensino,tipo,Mês,Quantidade de sessões,Quantidade Visitas,Nome da Escola2
0,ACM de Brasília,Maternal ao Fundamental I,Maternal,Privada,2023-11-01,0,34,ACM de Brasília
1,APAE-DF,ED ESPECIAL,Outros,Privada,2023-08-01,1,54,APAE-DF
2,Assistência Social Casa Azul,5° ao 1° ano Ensino Médio,Fundamental 2,Pública,2023-05-01,1,71,Assistência Social Casa Azul
3,Associação de Idosos,Idosos,Outros,Pública,2023-12-01,0,20,Associação de Idosos
4,Associação Francisco de Assis,Infantil ao Ensino Médio,Fundamental 1,Pública,2023-04-01,0,28,Associação Francisco de Assis
...,...,...,...,...,...,...,...,...
290,UNB (Alunos curso de pedagogia),Ensino Superior,Outros,Pública,2023-06-01,1,41,UNB (Alunos curso de pedagogia)
291,Universidade Estadual do Goiás,Faculdade,Outros,Pública,2023-01-01,0,22,Universidade Estadual do Goiás
292,Vila das Crianças - Santa Maria,9° ao 1° ano /Médio,Fundamental 2,Privada,2023-07-01,1,38,Vila das Crianças - Santa Maria
293,Wizard Braslândia,Pré ao 7° ano,Fundamental 1,Privada,2023-06-01,1,44,Wizard Braslândia
Nome da Escola,nan,NaN,NaN,NaN,NaT,<NA>,<NA>,nan

In [55]:
df.drop('Nome da Escola2', axis=1, inplace=True)

In [56]:
df

,Nome da Escola,Série Escolar,Ensino,tipo,Mês,Quantidade de sessões,Quantidade Visitas
0,ACM de Brasília,Maternal ao Fundamental I,Maternal,Privada,2023-11-01,0,34
1,APAE-DF,ED ESPECIAL,Outros,Privada,2023-08-01,1,54
2,Assistência Social Casa Azul,5° ao 1° ano Ensino Médio,Fundamental 2,Pública,2023-05-01,1,71
3,Associação de Idosos,Idosos,Outros,Pública,2023-12-01,0,20
4,Associação Francisco de Assis,Infantil ao Ensino Médio,Fundamental 1,Pública,2023-04-01,0,28
...,...,...,...,...,...,...,...
290,UNB (Alunos curso de pedagogia),Ensino Superior,Outros,Pública,2023-06-01,1,41
291,Universidade Estadual do Goiás,Faculdade,Outros,Pública,2023-01-01,0,22
292,Vila das Crianças - Santa Maria,9° ao 1° ano /Médio,Fundamental 2,Privada,2023-07-01,1,38
293,Wizard Braslândia,Pré ao 7° ano,Fundamental 1,Privada,2023-06-01,1,44
Nome da Escola,nan,NaN,NaN,NaN,NaT,<NA>,<NA>

In [58]:
df.drop(df.index[-1], inplace=True)

In [59]:
df

,Nome da Escola,Série Escolar,Ensino,tipo,Mês,Quantidade de sessões,Quantidade Visitas
0,ACM de Brasília,Maternal ao Fundamental I,Maternal,Privada,2023-11-01,0,34
1,APAE-DF,ED ESPECIAL,Outros,Privada,2023-08-01,1,54
2,Assistência Social Casa Azul,5° ao 1° ano Ensino Médio,Fundamental 2,Pública,2023-05-01,1,71
3,Associação de Idosos,Idosos,Outros,Pública,2023-12-01,0,20
4,Associação Francisco de Assis,Infantil ao Ensino Médio,Fundamental 1,Pública,2023-04-01,0,28
...,...,...,...,...,...,...,...
289,UNB - Grupo Pedagógico,Ensino Superior,Outros,Pública,2023-12-01,0,7
290,UNB (Alunos curso de pedagogia),Ensino Superior,Outros,Pública,2023-06-01,1,41
291,Universidade Estadual do Goiás,Faculdade,Outros,Pública,2023-01-01,0,22
292,Vila das Crianças - Santa Maria,9° ao 1° ano /Médio,Fundamental 2,Privada,2023-07-01,1,38
293,Wizard Braslândia,Pré ao 7° ano,Fundamental 1,Privada,2023-06-01,1,44

In [98]:
df.to_csv('mes.csv', index=False)

In [90]:
df2 = pd.read_csv('Relatorio2023.csv')

In [91]:
df2

,Nome da Escola,Série Escolar,Ensino,tipo,Mês,Quantidade de sessões,Quantidade Visitas
0,ACM de Brasília,Maternal ao Fundamental I,Maternal,Privada,2023-11-01,0,34
1,APAE-DF,ED ESPECIAL,Outros,Privada,2023-08-01,1,54
2,Assistência Social Casa Azul,5° ao 1° ano Ensino Médio,Fundamental 2,Pública,2023-05-01,1,71
3,Associação de Idosos,Idosos,Outros,Pública,2023-12-01,0,20
4,Associação Francisco de Assis,Infantil ao Ensino Médio,Fundamental 1,Pública,2023-04-01,0,28
...,...,...,...,...,...,...,...
289,UNB - Grupo Pedagógico,Ensino Superior,Outros,Pública,2023-12-01,0,7
290,UNB (Alunos curso de pedagogia),Ensino Superior,Outros,Pública,2023-06-01,1,41
291,Universidade Estadual do Goiás,Faculdade,Outros,Pública,2023-01-01,0,22
292,Vila das Crianças - Santa Maria,9° ao 1° ano /Médio,Fundamental 2,Privada,2023-07-01,1,38
293,Wizard Braslândia,Pré ao 7° ano,Fundamental 1,Privada,2023-06-01,1,44