In [48]:
import pandas as pd


# Read the xlsx file
df = pd.read_excel('visitantes2024.xlsx', sheet_name='JANEIRO')
month = "JANUARY"

In [49]:
# Leitura de cada tabela do arquivo Excel
# Os parâmetros 'skiprows' e 'usecols' devem ser ajustados de acordo com as localizações das tabelas
tabela_visitas = pd.read_excel('visitantes2024.xlsx', sheet_name='JANEIRO', skiprows=2, usecols="A:E", nrows=31)
tabela_cupula = pd.read_excel('visitantes2024.xlsx', sheet_name='JANEIRO', skiprows=2, usecols="I:L", nrows=31)
tabela_alunos = pd.read_excel('visitantes2024.xlsx', sheet_name='JANEIRO', skiprows=2, usecols="O:R", nrows=31)

In [50]:
for tabela in [tabela_visitas, tabela_cupula, tabela_alunos]:
    tabela.rename(columns={tabela.columns[0]: 'DIA'}, inplace=True)
    tabela.replace('######', 0, inplace=True)
    tabela.replace('#####', 0, inplace=True)
    tabela.fillna(0, inplace=True)
    tabela['DIA'] = pd.to_datetime(tabela['DIA'].astype(str) + ' ' + month + ' 2024', format='%d %B %Y')

    # Excluir as linhas de totais se estiverem incluídas
    if 'Total' in tabela.index or 'TOTAL' in tabela.columns:
        tabela.drop('Total', axis=0, inplace=True, errors='ignore')
        tabela.drop('TOTAL', axis=1, inplace=True, errors='ignore')

/var/folders/rx/pn3yfpsn585chc1z5cp05kqh0000gn/T/ipykernel_11344/3061574303.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tabela.replace('######', 0, inplace=True)
/var/folders/rx/pn3yfpsn585chc1z5cp05kqh0000gn/T/ipykernel_11344/3061574303.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tabela.replace('#####', 0, inplace=True)
/var/folders/rx/pn3yfpsn585chc1z5cp05kqh0000gn/T/ipykernel_11344/3061574303.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tabela.replace('#####', 0, inplace=True)

In [52]:
tabela_alunos

          DIA  TOTAL   PÚBLICA   PRIVADA
0  2024-01-01       0         0         0
1  2024-01-02       0         0         0
2  2024-01-03       0         0         0
3  2024-01-04       0         0         0
4  2024-01-05       0         0         0
5  2024-01-06       0         0         0
6  2024-01-07       0         0         0
7  2024-01-08       0         0         0
8  2024-01-09       0         0         0
9  2024-01-10       0         0         0
10 2024-01-11       0         0         0
11 2024-01-12       0         0         0
12 2024-01-13       0         0         0
13 2024-01-14       0         0         0
14 2024-01-15       0         0         0
15 2024-01-16       0         0         0
16 2024-01-17      68         0         1
17 2024-01-18       0         0         0
18 2024-01-19      86         0         1
19 2024-01-20      30         0         1
20 2024-01-21       0         0         0
21 2024-01-22       0         0         0
22 2024-01-23       0         0         0
23 2024-01-24      72         0         1
24 2024-01-25       0         0         0
25 2024-01-26       0         0         0
26 2024-01-27      72         0         1
27 2024-01-28       0         0         0
28 2024-01-29       0         0         0
29 2024-01-30       0         0         0
30 2024-01-31       0         0         0