In [29]:
import pandas as pd


# Read the xlsx file
df = pd.read_excel('visitantes2024.xlsx', sheet_name='JANEIRO')
month = "JANEIRO"

In [30]:
# Leitura de cada tabela do arquivo Excel
# Os parâmetros 'skiprows' e 'usecols' devem ser ajustados de acordo com as localizações das tabelas
tabela_visitas = pd.read_excel('visitantes2024.xlsx', sheet_name='JANEIRO', skiprows=2, usecols="A:E", nrows=31)
tabela_cupula = pd.read_excel('visitantes2024.xlsx', sheet_name='JANEIRO', skiprows=2, usecols="I:L", nrows=31)
tabela_alunos = pd.read_excel('visitantes2024.xlsx', sheet_name='JANEIRO', skiprows=2, usecols="O:R", nrows=31)

In [31]:
# Tratamento das células com '#####'
# Substituir '#####' por NaN ou 0 dependendo do contexto
for tabela in [tabela_visitas, tabela_cupula, tabela_alunos]:
    tabela.replace('######', 0, inplace=True)
    tabela.replace('#####', 0, inplace=True)
    tabela.fillna(0, inplace=True)
    tabela['Dia'] = pd.to_datetime(tabela['Dia'].astype(str) + ' ' + month + ' 2024', format='%d %B %Y')

    # Excluir as linhas de totais se estiverem incluídas
    if 'Total' in tabela.index or 'TOTAL' in tabela.columns:
        tabela.drop('Total', axis=0, inplace=True, errors='ignore')
        tabela.drop('TOTAL', axis=1, inplace=True, errors='ignore')

/var/folders/rx/pn3yfpsn585chc1z5cp05kqh0000gn/T/ipykernel_11344/3342801916.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tabela.replace('######', 0, inplace=True)
/var/folders/rx/pn3yfpsn585chc1z5cp05kqh0000gn/T/ipykernel_11344/3342801916.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tabela.replace('#####', 0, inplace=True)

In [32]:
tabela_visitas

    DIA   DF   OE  OP  Total dia
0     1    0    0   0          0
1     2  246  182   1        429
2     3  186  163   2        351
3     4  207  186   1        394
4     5  330  204  11        545
5     6  255  152   3        410
6     7  193  162   0        355
7     8    0    0   0          0
8     9  163  120   0        283
9    10  183  110   1        294
10   11  186  117   5        308
11   12  206  135   0        341
12   13  421  230   5        656
13   14  316  147   6        469
14   15    0    0   0          0
15   16  208  121   1        330
16   17  212  144   1        357
17   18  260   89   3        352
18   19  272  150   1        423
19   20  366  165   0        531
20   21  354  143   0        497
21   22    0    0   0          0
22   23  249  109   1        359
23   24  213  103   1        104
24   25  188   97   2        287
25   26  209   74   7        290
26   27   58   62   1        121
27   28  302  143   8        453
28   29    0    0   0          0
29   30  160   92   5        257
30   31   64   52   2        118